/* main ¯\_(ツ)_/¯ */

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: sans-serif;
  color: #98fb98 !important;
}

::selection {
  background: #98fb98;
  color: black;
  -webkit-text-fill-color: black;
  -moz-text-fill-color: black;
  -ms-text-fill-color: black;
  -o-text-fill-color: black;
}

body {
  background-color: black;
}

::placeholder,
::-webkit-input-placeholder {
  color: gray !important;
}

/* ------------------------------------------------------------------------------------------------------- */

.btn-login:focus,
.btn-login:active {
  box-shadow: 0 0 0 0.3rem rgba(23, 162, 184, 0.5);
}

input {
  color: #98fb98 !important;
  background-color: transparent !important;
}

.content {
  box-shadow: 0 0 3rem rgb(39, 39, 39);
}

@media (max-width: 991px) {
  .btn-outline-warning {
    margin-top: 3%;
    width: 100%;
  }
}

.floating {
  position: fixed;
  bottom: 20%;
  right: 20%;
  z-index: 1000;
  background-color: black;
  width: 60%;
  height: 70%;
}
